* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
--Red400: hsl(7, 99%, 70%);
--Yellow500: hsl(51, 100%, 49%);
--Green800: hsl(167, 40%, 24%); /* graphic design text*/
--Blue800: hsl(198, 62%, 26%); /*photography text*/
--Green500: hsl(167, 34%, 41%); /*footer*/
--Grey950: hsl(212, 27%, 19%);
--Grey600: hsl(213, 9%, 39%);
--Grey550: hsl(232, 10%, 55%);
--Grey400: hsl(210, 4%, 67%);
--White: hsl(0, 100%, 100%);
--footer: #96D9C6;

--Shadow: 4px 4px 10px rgba(0, 0, 0, .3);
}

body {
    background: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    max-width: 375px;
}

.hero {
    background-image: url(img/mobile/image-header.jpg);
    background-position: bottom  center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 57vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    font-family: Fraunces, serif;
    color: white;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

h1 {
    font-family: Fraunces, serif;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    padding: 2rem;
}

.hero-content img {
    width: 8%;
}

.transform {
    width: 100%;
}

.grid img {
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    gap: 1.5rem;
    padding:  4rem 2rem;
    z-index: 1;
}

.text h2 {
    font-family: fraunces, serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
}

.text p {
    font-family: Barlow;
    font-weight: 600;
    color: var(--Grey600);
    text-align: center;
    line-height: 1.7;
    font-size: 1.1rem;
}

.text a {
    position: relative;
    text-decoration: none;
    font-family: Fraunces, sans-serif;
    color: var(--Grey950);
    font-weight: 900;
    display: inline;

}

.text a:hover::after {
    opacity: 1;
}

.text a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: calc(100% + 10px);
    height: 8px;
    background-color: var(--Yellow500);
    border-radius: 4px;
    z-index: -1;
    opacity: .25;
}

.stand .text a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: calc(100% + 10px);
    height: 8px;
    background-color: var(--Red400);
    border-radius: 4px;
    z-index: -1;
    opacity: .25;
}

.stand a:hover::after {
    opacity: 1;
}

.cherry {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background-image: url(img/desktop/image-graphic-design.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 4rem 1rem;
    text-align: center;
}

.photo-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.photo-content h2 {
    font-family: Fraunces, serif;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--Green800);
}

.photo-content p {
    font-family: Barlow;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Green800);
    line-height: 1.5;
}

.orange {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background-image: url(img/desktop/image-photography.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 4rem 1rem;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 1.5rem;
    gap: 4.5rem;
    margin-block-end: 2rem;
}

.testimonials h3 {
    font-family: Fraunces;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: .3rem;
    color: var(--Grey400);
}

.testimonials img {
    border-radius: 50%;
    width: 4.5rem;
}

.testimonials p {
    font-family: Barlow, sans-serif;
    font-weight: 600;
    color: var(--Grey600);
    font-size: 1.2rem;
    line-height: 1.6;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.name {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: var(--Grey400);
}

.name p {
    font-family: Fraunces, serif;
    font-weight: 800;
    color: var(--Grey950);
}

.four-photos {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
}

.four-photos img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.green {
    display: flex;
    flex-direction: column;
    background: var(--footer);
    color: var(--Green800);
    align-items: center;
    padding: 4rem 0;
}

.green nav {
    width: 100%;
    padding: 2rem;
}

.green nav ul{
    display: flex; 
    list-style: none;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.green nav ul li {
    cursor: pointer;
}

.green nav ul li:hover {
    color: var(--White);
}

.green svg {
    fill: var(--Green800);
    width: 180px;
    height: auto;
}

.socials {
    padding: 4rem 0 .5rem;
    display: flex;
    gap: 2rem;
}

.socials img {
    transition: .15s ease;
    cursor: pointer;
}

.socials img:hover {
    box-shadow: var(--Shadow);
    filter: brightness(7);
}

