* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
--Red400: hsl(7, 99%, 70%);
--Yellow500: hsl(51, 100%, 49%);
--Green800: hsl(167, 40%, 24%); /* graphic design text*/
--Blue800: hsl(198, 62%, 26%); /*photography text*/
--Green500: hsl(167, 34%, 41%); /*footer*/
--Grey950: hsl(212, 27%, 19%);
--Grey600: hsl(213, 9%, 39%);
--Grey550: hsl(232, 10%, 55%);
--Grey400: hsl(210, 4%, 67%);
--White: hsl(0, 100%, 100%);
--footer: #96D9C6;

--Shadow: 4px 4px 10px rgba(0, 0, 0, .3);

--Fraunces: Fraunces, serif;
--Barlow: Barlow, sans-serif;
}

body {
    background: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 375px;
    background-image: url(img/mobile/image-header.jpg);
    background-position: bottom center;
    background-size: cover;
    min-height: 57vh;
}

h1 {
    font-family: var(--Fraunces);
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin-block-start: 3rem;
    letter-spacing: .5rem;
}

.arrow {
    margin-block-start: 3.5rem;
}

.header-menu {
    display: flex;
    width: 100%;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    position: relative;
}

.header-nav {
    background: var(--White);
    position: absolute;
    top: 7rem;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
    padding: 2rem;
}

.header-nav ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-nav a{
    text-decoration: none;
    color: var(--Grey600);
    font-family: var(--Barlow);
    font-weight: 600;
}

.header-nav button {
    padding: 1.5rem 2rem;
    background: var(--Yellow500);
    border: none;
    border-radius: 2rem;
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}

.header-nav::before {
    position: absolute;
    content: "";
    top: -24px;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 0 24px 24px;
    border-style: solid;
    border-color: transparent transparent var(--White) transparent;
}

.logo-header {
    width: auto;
    height: 1.5rem;
}

.burger {
    width: auto;
    height: 1.2rem;
    cursor: pointer;
}

main {
    width: 100%;
    max-width: 375px;
}

.image {
    max-width: 375px;
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem 5rem;
    text-align: center;
    gap: 1.5rem;
}

.text-container h2 {
    margin-block-start: 2.5rem;
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 2rem;
    color: var(--Grey950);
}

.text-container p {
    font-family: var(--Barlow);
    font-weight: 600;
    color: var(--Grey550);
    font-size: 1.1rem;
    line-height: 1.6;
}

.learn-more {
    position: relative;
    text-decoration: none;
    font-family: var(--Fraunces);
    font-weight: 900;
    color: var(--Grey950);    
}

.yellow::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: calc(100% + 10px);
    height: .5rem;
    border-radius: .5rem;
    background: var(--Yellow500);
    z-index: -1;
    opacity: .25;
}

.orange::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: calc(100% + 10px);
    height: .5rem;
    border-radius: .5rem;
    background: var(--Red400);
    z-index: -1;
    opacity: .25;
}

.green {
    background-image: url(img/mobile/image-graphic-design.jpg);
    background-position: bottom center;
    background-size: cover;
    min-height: 63vh;
    text-align: center;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blue {
    background-image: url(img/mobile/image-photography.jpg);
    background-position: bottom center;
    background-size: cover;
    min-height: 63vh;
    text-align: center;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blue h2, .blue p {
    color: var(--Blue800) !important;
}

.text-over h2 {
    color: var(--Green800);
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 1.7rem;
}

.text-over p {
    font-family: var(--Barlow);
    font-weight: 600;
    color: var(--Green800);
    line-height: 1.8;
}

.text-over-position {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonials {
    padding: 4.5rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.testimonials h2 {
    font-family: var(--Fraunces);
    font-size: 1rem;
    text-align: center;
    letter-spacing: .25rem;
    color: var(--Grey550);
    font-weight: 900;
    text-align: center;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials img {
    border-radius: 50%;
    width: 4.5rem;
    margin-block-start: 3.5rem;
    margin-bottom: 2rem;
}

.testimonials p {
    font-family: var(--Barlow);
    font-weight: 600;
    color: var(--Green800);
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    color: var(--Grey600);
    margin-bottom: 2rem;
}

.testimonials h3 {
    font-family: var(--Fraunces);
    font-weight: 900;
    margin-bottom: .5rem;
}

.testimonials span {
    font-family: var(--Barlow);
    font-weight: 600;
    color: var(--Grey400);
}

.gallerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallerie img {
    width: 100%;
    height: auto;
}

footer {
    background: var(--footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 375px;
    padding: 4rem 2rem;
    color: var(--Green500);
}

.footer-logo {
    height: 2rem;
    width: auto;
    fill: var(--Green500);
    margin-block-end: 2.5rem;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    font-family: var(--Barlow);
    font-weight: 600;
    margin-block-end: 6rem;
}

.footer-nav a {
    text-decoration: none;
    color: var(--Green500);
}

.socials {
    display: flex;
    gap: 2rem;
}

.hidden {
    display: none;
}

@media (min-width: 48rem) {

   
    /*Ancho general*/
    header, main, footer {
        max-width: 1440px;
    }

    /*alto encabezado y cambio de tamaños internos */
    header {
        min-height: 85vh;
        padding: 1rem;
    }

    .logo-header {
        height: 2rem;
    }

    h1 {
        font-size: 3.75rem;
        margin-block-start: 5rem;
    }

    /*sección grid*/
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        width: 100%;
        max-width: 100%;
    }

}